Compile Payroll and Alert Media files to determine who to delete

In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
# Get list of files to process - Master rosters
path = 'C:/DataCleanup/Data'

In [3]:
# Compare Alert Media to already worked Payroll report.
try:
    payroll2020_df = pd.read_excel(path + '/Payroll report.xlsx')
except: 
    print('Cannot open Payroll file')
    
payroll2020_df

,PAYCHEX NAME,FULL NAME,PAYCHEX ID,ORGANIZATION,EMAIL,NTNL,WDID,PARAGON,E-I9,FINAL,PD 2020,PD 2021
0,"Aaron, Brittany C",Brittany Aaron,9999904065,98 BCFS COVID-19,brittanyaaron621@gmail.com,415557579,E26207,Y,N,COMPLETE,Y,NaN
1,"Aaron, Taji L",Taji Aaron,112301,98 BCFS COVID-19,tajiaaron1@gmail.com,626968290,E27591,Y,N,COMPLETE,Y,NaN
2,"Aaron, Toya A",Toya Aaron,9999904273,98 BCFS COVID-19,toya_aaron@yahoo.com,365843589,E34393,N,Complete,COMPLETE,N,NaN
3,"Aaron, Zakiyya A",Zakiyya Aaron,618763,25 NYCHH COVID-19,zaaron02@gmail.com,240371376,E32628,Y,N,COMPLETE,Y,NaN
4,"Abadi, Semere M",Semere Abadi,300622,96 BCFS - EMD,samri2717@gmail.com,745934082,E16662,Y,N,COMPLETE,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23282,"Zepeda, Ashley M",Ashley Zepeda,300888,98 BCFS COVID-19,methodist53@gmail.com,645124228,E31459,N,N,MOBILIZE,Y,NaN
23283,"Foster, Ashley A",Ashley Foster,9999695119,98 BCFS COVID-19,Aaf5412@gmail.com,595869538,NONE,Y,N,COMPLETE,Y,NaN
23284,"Saint-Armand, Jean M",Jean Saint-Armand,665508,98 BCFS COVID-19,BOOSTARMAND@HOTMAIL.COM,89829443,E36407,Y,N,COMPLETE,Y,NaN
23285,"Saleh, Miranda L",Miranda Saleh,9015819374,98 BCFS COVID-19,miranda.saleh@frontier.edu,594396097,E21862,Y,N,COMPLETE,Y,NaN
23286,"Salem, Alma A",Alma Salem,623238,98 BCFS COVID-19,gjohnstonasalem@yahoo.com,554317071,E17369,Y,N,COMPLETE,Y,NaN

In [4]:
# Get rid of rows where 'PD 2020' = N
payroll_yes_df = payroll2020_df[payroll2020_df['PD 2020'] == 'Y']
payroll_yes_df

,PAYCHEX NAME,FULL NAME,PAYCHEX ID,ORGANIZATION,EMAIL,NTNL,WDID,PARAGON,E-I9,FINAL,PD 2020,PD 2021
0,"Aaron, Brittany C",Brittany Aaron,9999904065,98 BCFS COVID-19,brittanyaaron621@gmail.com,415557579,E26207,Y,N,COMPLETE,Y,NaN
1,"Aaron, Taji L",Taji Aaron,112301,98 BCFS COVID-19,tajiaaron1@gmail.com,626968290,E27591,Y,N,COMPLETE,Y,NaN
3,"Aaron, Zakiyya A",Zakiyya Aaron,618763,25 NYCHH COVID-19,zaaron02@gmail.com,240371376,E32628,Y,N,COMPLETE,Y,NaN
4,"Abadi, Semere M",Semere Abadi,300622,96 BCFS - EMD,samri2717@gmail.com,745934082,E16662,Y,N,COMPLETE,Y,NaN
7,"Abankwah, Dennis",Dennis Abankwah,9999904225,98 BCFS COVID-19,Aristo600@yahoo.com,75981241,E32629,Y,N,COMPLETE,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23282,"Zepeda, Ashley M",Ashley Zepeda,300888,98 BCFS COVID-19,methodist53@gmail.com,645124228,E31459,N,N,MOBILIZE,Y,NaN
23283,"Foster, Ashley A",Ashley Foster,9999695119,98 BCFS COVID-19,Aaf5412@gmail.com,595869538,NONE,Y,N,COMPLETE,Y,NaN
23284,"Saint-Armand, Jean M",Jean Saint-Armand,665508,98 BCFS COVID-19,BOOSTARMAND@HOTMAIL.COM,89829443,E36407,Y,N,COMPLETE,Y,NaN
23285,"Saleh, Miranda L",Miranda Saleh,9015819374,98 BCFS COVID-19,miranda.saleh@frontier.edu,594396097,E21862,Y,N,COMPLETE,Y,NaN
23286,"Salem, Alma A",Alma Salem,623238,98 BCFS COVID-19,gjohnstonasalem@yahoo.com,554317071,E17369,Y,N,COMPLETE,Y,NaN

In [5]:
try:
    payroll20_21_df = pd.read_excel(path + '/Payroll report.xlsx', sheet_name='Paid 2020 & 2021')
except: 
    print('Cannot open Payroll file')
    
payroll20_21_df

,PAYCHEX NAME,FULL NAME,PAYCHEX ID,ORGANIZATION,EMAIL,NTNL,WDID,PARAGON,E-I9,FINAL,PD 2020,PD 2021,DEPLOYMENT,NOTES
0,"Abdul-Haqq, Shakirah",Shakirah Abdul-Haqq,9999004567,98 BCFS COVID-19,shah.haqq@yahoo.com,187567182,E24591,N,N,MISSING,YES,YES,NaN,NaN
1,"Abelard, Rose C",Rose Abelard,112175,98 BCFS COVID-19,ginoue1@live.com,373554729,E31793,N,N,MISSING,YES,YES,NaN,NaN
2,"Abraham, Leah N",Leah Abraham,9999904081,98 BCFS COVID-19,leahmrcr3@gmail.com,274920199,E26220,N,N,MISSING,YES,YES,NaN,NaN
3,"Acquah, Roberta",Roberta Acquah,2100125,98 BCFS COVID-19,esiacquah89@gmail.com,772803495,E29170,N,N,MISSING,YES,YES,NaN,NaN
4,"Adams, Brittany T",Brittany Adams,9999904227,98 BCFS COVID-19,bwiggin2.bw@gmail.com,428632914,E32635,N,N,MISSING,YES,YES,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,"Williams, Quantavis D",Quantavis Williams,210738,98 BCFS COVID-19,quantaviswilliams24@yahoo.com,593551246,E38986,N,Cancelled,CANCELLED,NO,YES,NaN,HR TERMINATION
1323,"Williams, Sheila A",Sheila Williams,9999670549,98 BCFS COVID-19,sheilaw3117@gmail.com,331644304,E37560,N,Cancelled,CANCELLED,NO,YES,NaN,NaN
1324,"Williams, Trina R",Trina Williams,210596,98 BCFS COVID-19,mrswilliams404@yahoo.com,359703098,E35928,N,N,MISSING,NO,YES,NaN,NaN
1325,"Wimbs Miller, Terrence T",Terrence Wimbs Miller,210597,98 BCFS COVID-19,twimbs51@gmail.com,591637766,E35929,N,N,MISSING,NO,YES,NaN,NaN
1326,"Zavala, Sylvia",Sylvia Zavala,301059,98 BCFS COVID-19,zavuri65@gmail.com,283681393,E36221,N,N,MISSING,NO,YES,NaN,NaN

In [6]:
try:
    payroll20_df = pd.read_excel(path + '/Payroll report.xlsx', sheet_name='Paid 2020')
except: 
    print('Cannot open Payroll file')
    
payroll20_df

,PAYCHEX NAME,FULL NAME,PAYCHEX ID,ORGANIZATION,EMAIL,NTNL,WDID,PARAGON,E-I9,FINAL,PD 2020,PD 2021,DEPLOYMENT,NOTES
0,"Abdallh, Hassan A",Hassan Abdallh,881218,96 BCFS - EMD,hassanawaad2016@gmail.com,738740223,E18684,N,N,MISSING,YES,NO,NaN,TRAVEL ONLY
1,"Aboughali, Reham A",Reham Aboughali,9999004041,98 BCFS COVID-19,reham.aboughali@yahoo.com,61851295,E24421,N,N,MISSING,YES,NO,NaN,NaN
2,"Adler, David R",David Adler,444581,98 BCFS COVID-19,adlerjfrd62@gmail.com,36366859,E16796,N,N,MISSING,YES,NO,NaN,NaN
3,"Adow, Fadumo",Fadumo Adow,663560,98 BCFS COVID-19,faadumow@hotmail.com,668309386,E17442,N,N,MISSING,YES,NO,NaN,NaN
4,"Afolabi, Soraya",Soraya Afolabi,9999904056,98 BCFS COVID-19,seoafolabi@gmail.com,594980280,E26201,N,N,MISSING,YES,NO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,"Yuski, Alicia M",Alicia Yuski,9999670259,98 BCFS COVID-19,AYUSKI562@AOL.COM,39563969,E25760,N,N,MISSING,YES,NO,NaN,NaN
817,"Zamora, Belinda Z",Belinda Zamora,9999000206,98 BCFS COVID-19,Belindaz2006@gmail.com,459893896,E23952,N,N,MISSING,YES,NO,NaN,NaN
818,"Zamora, Gabriel I",Gabriel Zamora,345970,98 BCFS COVID-19,gzcap31@gmail.com,642369632,E31450,N,N,MISSING,YES,NO,NaN,NaN
819,"Zegu, Rishan F",Rishan Zegu,670337,96 BCFS - EMD,zegurishan@gmail.com,102454032,E31456,N,Cancelled,CANCELLED,YES,NO,NaN,NaN
820,"Zishka, Katherine M",Katherine Zishka,500052,98 BCFS COVID-19,kzishka@gmail.com,511961168,E16853,N,N,MISSING,YES,NO,NaN,NaN

In [7]:
try:
    payroll21_df = pd.read_excel(path + '/Payroll report.xlsx', sheet_name='Paid 2021')
except: 
    print('Cannot open Payroll file')
    
payroll21_df

,PAYCHEX NAME,FULL NAME,PAYCHEX ID,ORGANIZATION,EMAIL,NTNL,WDID,PARAGON,E-I9,FINAL,PD 2020,PD 2021,DEPLOYMENT,NOTES
0,"Abaring, Dennis G",Dennis Abaring,112665,98 BCFS COVID-19,abaring.dennis@yahoo.com,639980889,E35593,N,N,MISSING,NO,YES,NaN,NaN
1,"Abdulla, Nurto",Nurto Abdulla,9999904685,98 BCFS COVID-19,Foziahmed@gmail.com,499235919,E47542,N,Cancelled,CANCELLED,NO,YES,NaN,NaN
2,"Abner, Jacinta",Jacinta Abner,301182,98 BCFS COVID-19,candlejunctionotr@outlook.com,51582508,E48137,N,Cancelled,CANCELLED,NO,YES,NaN,DUE DILIGENCE
3,"Adams Jr, Michael T",Michael Adams Jr,9999904604,98 BCFS COVID-19,michaeladams.1982@yahoo.com,547734744,E44471,N,Cancelled,CANCELLED,NO,YES,NaN,NaN
4,"Adams, Jessica K",Jessica Adams,9999904270,98 BCFS COVID-19,jesskadams@sbcglobal.net,645075449,E37212,N,N,MISSING,NO,YES,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,"Williams, Quantavis D",Quantavis Williams,210738,98 BCFS COVID-19,quantaviswilliams24@yahoo.com,593551246,E38986,N,Cancelled,CANCELLED,NO,YES,NaN,HR TERMINATION
384,"Williams, Sheila A",Sheila Williams,9999670549,98 BCFS COVID-19,sheilaw3117@gmail.com,331644304,E37560,N,Cancelled,CANCELLED,NO,YES,NaN,NaN
385,"Williams, Trina R",Trina Williams,210596,98 BCFS COVID-19,mrswilliams404@yahoo.com,359703098,E35928,N,N,MISSING,NO,YES,NaN,NaN
386,"Wimbs Miller, Terrence T",Terrence Wimbs Miller,210597,98 BCFS COVID-19,twimbs51@gmail.com,591637766,E35929,N,N,MISSING,NO,YES,NaN,NaN
387,"Zavala, Sylvia",Sylvia Zavala,301059,98 BCFS COVID-19,zavuri65@gmail.com,283681393,E36221,N,N,MISSING,NO,YES,NaN,NaN

In [8]:
# add final payroll file
try:
    payroll_workday_df = pd.read_excel(path + '/workdayData.xlsx')
except: 
    print(path + 'Cannot open Payroll file')
    
payroll_workday_df

                            Email
0           tasialewis2@yahoo.com
1     aaliyahmarmstrong@gmail.com
2           SAFTravelRN@gmail.com
3      aaliyahjohnson63@gmail.com
4     Noemail@krucialstaffing.com
...                           ...
5541   martinezzulema16@gmail.com
5542      zulmaaguirre7@yahoo.com
5543    yeseniaaguirre1@yahoo.com
5544        zulmalatino@gmail.com
5545   statonzykieya23@icloud.com

[5546 rows x 1 columns]

In [9]:
# Combine 2020 and 2021 to get full list of those who have been paid.  
payroll_df1 = payroll_yes_df.append(payroll20_21_df, ignore_index=True)
payroll_df2 = payroll_df1.append(payroll20_df, ignore_index=True)
payroll_df3 = payroll_df2.append(payroll21_df, ignore_index=True)

In [10]:
sorted_payroll_df = payroll_df3.sort_values(by=['NTNL'])
sorted_payroll_df

,PAYCHEX NAME,FULL NAME,PAYCHEX ID,ORGANIZATION,EMAIL,NTNL,WDID,PARAGON,E-I9,FINAL,PD 2020,PD 2021,DEPLOYMENT,NOTES
14187,"Vadney, Wade",Wade Vadney,301008,98 BCFS COVID-19,wadevadney@yahoo.com,1589982,E36172,Y,N,COMPLETE,Y,NaN,NaN,NaN
18052,"Sylvia, April M",April Sylvia,9999665533,98 BCFS COVID-19,aprilsylvia@hotmail.com,1648249,E36934,N,N,MISSING,NO,YES,NaN,NaN
16843,"Sylvia, April M",April Sylvia,9999665533,98 BCFS COVID-19,aprilsylvia@hotmail.com,1648249,E36934,N,N,MISSING,NO,YES,NaN,NaN
9865,"Mullen, James A",James Mullen,9015819058,20 NYC-OEM COVID-19,jimmullen302@gmail.com,1763935,E21633,Y,N,COMPLETE,Y,NaN,NaN,NaN
12193,"Rugar, James",James Rugar,8921965,98 BCFS COVID-19,catforget5@gmail.com,1769483,E20044,Y,N,COMPLETE,Y,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10356,"Ochichi, Kelvin W",Kelvin Ochichi,882271,98 BCFS COVID-19,kelvinwinta@yahoo.com,896834180,E19159,Y,N,COMPLETE,Y,NaN,NaN,NaN
3584,"Dennis, Kaniel O",Kaniel Dennis,886576,98 BCFS COVID-19,nielka2005@gmail.com,897248467,E19325,Y,N,COMPLETE,Y,NaN,NaN,NaN
11091,"Pierre Nivol, Bertane A",Bertane Pierre Nivol,210358,98 BCFS COVID-19,adrienbertane@gmail.com,897804402,E35691,N,Complete,COMPLETE,Y,NaN,NaN,NaN
12278,"Saguin, Christellia Melfeu F",Christellia Melfeu Saguin,9998923322,98 BCFS COVID-19,melfeus@yahoo.com,898648912,E30632,Y,N,COMPLETE,Y,NaN,NaN,NaN
16407,"Suliman, Fahad S",Fahad Suliman,9999665467,98 BCFS COVID-19,FAHADSULIMAN87@GMAIL.COM,898699886,E38847,N,Cancelled,CANCELLED,YES,YES,NaN,HR TERMINATION

In [11]:
unique_payroll_df = sorted_payroll_df.drop_duplicates(subset=['NTNL'], ignore_index=True)

In [12]:
# set the index to Email after renaming the column
unique_payroll_df.rename(columns={'EMAIL':'Email'}, inplace=True)
payroll_email_df = unique_payroll_df[['Email', 'FULL NAME']]
payroll_email_df

C:\Users\JulieHeadlee\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                          Email                  FULL NAME
0          wadevadney@yahoo.com                Wade Vadney
1       aprilsylvia@hotmail.com               April Sylvia
2        jimmullen302@gmail.com               James Mullen
3          catforget5@gmail.com                James Rugar
4              ADye37@gmail.com                  Ariel Dye
...                         ...                        ...
17596     kelvinwinta@yahoo.com             Kelvin Ochichi
17597      nielka2005@gmail.com              Kaniel Dennis
17598   adrienbertane@gmail.com       Bertane Pierre Nivol
17599         melfeus@yahoo.com  Christellia Melfeu Saguin
17600  FAHADSULIMAN87@GMAIL.COM              Fahad Suliman

[17601 rows x 2 columns]

In [13]:
# Add the Workday records to get to the final list
final_payroll_df = payroll_email_df.append(payroll_workday_df, ignore_index=True)

final_payroll_df

# save to file
final_payroll_df.to_csv("full_payroll.csv")

<h1>Process Alert Media Data

In [14]:
# Load Alert Media Data to merge
try:
    am1_df = pd.read_csv(path + '/AM Files/survey_response 1.csv')
except: 
    print(path + '/AM Files/survey_response 1.csv')
    print('Cannot open AM file')
    
try:
    am2_df = pd.read_csv(path + '/AM Files/survey_response 2.csv')
except: 
    print('Cannot open AM file')

In [15]:
# Get list of people who are not interested in being contacted
am_no_df1 = am1_df[am1_df['Response'] == 'No, I am not interested in future opportunities with Krucial Staffing, and do not want to receive future notifications.']
am_no_df2 = am2_df[am2_df['Response'] == 'No, I am not interested in future opportunities with Krucial Staffing, and do not want to receive future notifications']
am_no_df = am_no_df1.append(am_no_df2)
am_no_df

,Notification Send Date (Local),Notification Send Time (Local),First Name,Last Name,Mobile Phone,Email,Channels Sent,Notification Message,Response,Response Date (Local),Response Time (Local)
35,6/29/2021,7:52:43 PM,Quinneshia,Matthews,'+15043456193,quinneshiam@gmail.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",7/3/2021,3:59:21 PM
175,6/29/2021,7:52:43 PM,Jill,STUART,'+16512532071,jstuart4@yahoo.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",6/30/2021,5:37:34 PM
207,6/29/2021,7:52:43 PM,Regina,Faison,'+18135312547,rfaisoncpr@outlook.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",6/29/2021,11:06:50 PM
261,6/29/2021,7:52:43 PM,Alice,Jordan,'+19417083764,alexisbrouillette@gmail.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",6/29/2021,1:33:01 PM
529,6/29/2021,7:52:43 PM,Brittni,Fails,'+18502213958,brittnifails@yahoo.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",6/30/2021,11:23:35 AM
...,...,...,...,...,...,...,...,...,...,...,...
189133,7/6/2021,3:09:44 PM,Alyssa,Knowlton,'+19364656939,alyssad2008@aol.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",7/6/2021,5:11:40 PM
189136,7/6/2021,3:09:44 PM,Cynthia,Lewis,'+19156379435,diazca18@gmail.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",7/12/2021,11:18:03 AM
189412,7/6/2021,3:09:44 PM,Charles,Cribbs III,'+13523624602,charlesmorriscribbsiii@gmail.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",7/7/2021,1:23:49 PM
189534,7/6/2021,3:09:44 PM,Samuel,Alfaro,'+19567151064,samuelalfaro524@icloud.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",7/9/2021,11:52:00 AM
189580,7/6/2021,3:09:44 PM,Leslie,Maxey,'+18326542033,maxeyleslie743@yahoo.com,"email,sms",Thank you for being a Krucial Staffing Reservi...,"No, I am not interested in future opportunitie...",7/6/2021,7:41:37 PM

In [16]:
# Merge am list of nos with payroll and master_df to get final list of nos.
# make emails the indexes for am.  

final_am_df = am_no_df[['Email', 'Last Name', 'First Name', 'Mobile Phone']]
#final_am_df.set_index('Email', inplace=True)
final_am_df

,Email,Last Name,First Name,Mobile Phone
35,quinneshiam@gmail.com,Matthews,Quinneshia,'+15043456193
175,jstuart4@yahoo.com,STUART,Jill,'+16512532071
207,rfaisoncpr@outlook.com,Faison,Regina,'+18135312547
261,alexisbrouillette@gmail.com,Jordan,Alice,'+19417083764
529,brittnifails@yahoo.com,Fails,Brittni,'+18502213958
...,...,...,...,...
189133,alyssad2008@aol.com,Knowlton,Alyssa,'+19364656939
189136,diazca18@gmail.com,Lewis,Cynthia,'+19156379435
189412,charlesmorriscribbsiii@gmail.com,Cribbs III,Charles,'+13523624602
189534,samuelalfaro524@icloud.com,Alfaro,Samuel,'+19567151064
189580,maxeyleslie743@yahoo.com,Maxey,Leslie,'+18326542033

In [17]:
# Merge last response list
try:
    am_lastNos_df = pd.read_excel(path + '/AM Files/Reservist Poll from 7.20.xlsx', sheet_name='NOT Interested from 7.20')
    am_noresponse_df = pd.read_excel(path + '/AM Files/Reservist Poll from 7.20.xlsx', sheet_name='No Responses From 7.20')
except:
    print("Cannot open Reservist Poll fro 7.20.xlsx")

am_noresponse_df

,Email,Last Name,First Name,Mobile Phone
0,nookerlindie@yahoo.com,LindizganiGondwe,Lindie,1.501615e+10
1,crissyj73@hotmail.com,Sharp,Tammy,1.816380e+10
2,kimberlyljimenez70@gmail.com,Jimenez,Kimberly,1.956392e+10
3,christie15_8@hotmail.com,Valdez,Christie,1.210314e+10
4,janiceswain@yahoo.com,Swain,Janice,1.217600e+10
...,...,...,...,...
148100,darvianaharris@gmail.com,Harris,Darviana,1.912279e+10
148101,hailiculp@yahoo.com,Culp,Haili,1.618568e+10
148102,nezameeze@gmail.com,Lambert,Nesime,1.708501e+10
148103,aviona1986@gmail.com,Armstrong,Avion,1.313630e+10
148104,sweet5683ly@gmail.com,Daniel,Jody,1.347361e+10

In [18]:
    
am_no_df3 = am_lastNos_df.append(am_noresponse_df)
#am_no_df3.set_index('Email', inplace=True)
am_no_df3

                            Email  Last Name First Name  Mobile Phone
0              jstuart4@yahoo.com     STUART       Jill  1.651253e+10
1       estelleadrianne@gmail.com     Holmes       Laci  1.904305e+10
2         tequiladuncan@yahoo.com     Duncan    Tequila  1.352275e+10
3           tanya.j1078@gmail.com    Johnson      Tanya  1.407758e+10
4         andreamarie0622@att.net  Alexander     Andrea  1.618219e+10
...                           ...        ...        ...           ...
148100   darvianaharris@gmail.com     Harris   Darviana  1.912279e+10
148101        hailiculp@yahoo.com       Culp      Haili  1.618568e+10
148102        nezameeze@gmail.com    Lambert     Nesime  1.708501e+10
148103       aviona1986@gmail.com  Armstrong      Avion  1.313630e+10
148104      sweet5683ly@gmail.com     Daniel       Jody  1.347361e+10

[150636 rows x 4 columns]

In [ ]:
am_delete_df = final_am_df.append(am_no_df3)
am_delete_df

In [19]:
am_delete_df.to_csv('final_am.csv')

In [22]:
# Now using the the info from payroll, and AM responses, create a comprehensive list of everyone in AM who needs
# to be deleted. 

# Step 1 - Filter AM nos to exclude those in the payroll list
delete_am_df = am_delete_df[~am_delete_df.Email.isin(final_payroll_df['Email'])]
delete_am_df

                              Email  Last Name  First Name   Mobile Phone
35            quinneshiam@gmail.com   Matthews  Quinneshia  '+15043456193
175              jstuart4@yahoo.com     STUART        Jill  '+16512532071
207          rfaisoncpr@outlook.com     Faison      Regina  '+18135312547
261     alexisbrouillette@gmail.com     Jordan       Alice  '+19417083764
529          brittnifails@yahoo.com      Fails     Brittni  '+18502213958
...                             ...        ...         ...            ...
148100     darvianaharris@gmail.com     Harris    Darviana  19122786173.0
148101          hailiculp@yahoo.com       Culp       Haili  16185677034.0
148102          nezameeze@gmail.com    Lambert      Nesime  17085010856.0
148103         aviona1986@gmail.com  Armstrong       Avion  13136296829.0
148104        sweet5683ly@gmail.com     Daniel        Jody  13473606532.0

[154171 rows x 4 columns]

In [21]:
# # Compile results to find those who worked
# def has_worked (row):
#     if row['Paid'] == 1:
#         return 'Worked'
#     return 'No'

# # Add the worked column
# delete_am_df['Worked'] = delete_am_df.apply(lambda row: has_worked(row))

# Save to file

delete_am_df.to_csv('final_am_payroll.csv')

KeyError: 'Paid'